/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #000;
}

nav {
  text-align: center;
}

.body {
  margin: 0 auto;
  max-width: 90%
}

.content table {
  width: 100%;
}

.modeText {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  color: red;
}

.pieChart {
  width: 400px;
}

nav {
  background-color: #000;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

nav li {
  border-right: 1px solid #fff;

  &:last-of-type {
    border-right: none;
  }
}

nav a {
  color: #fff;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #e8008c;
    text-decoration: none;
  }
}
